.contact_item{
   font-size: 17px;
   margin: 0 0 10px 0;
}
.contact_item>.full_info{
    padding: 10px 10px 30px 10px;
}
.contact_item>.full_info{
	display: flex;
	justify-content: space-between;
}
.contact_item>.full_info>div.emails>div,
.contact_item>.full_info>div.phones>div{
	text-align: center;
}
.contact_item>.full_info>div>span,
#mycontact_form div>span{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.contact_item .hide_btn,
#mycontact_form span#add_phone,
#mycontact_form span#add_email{
	font-size: 15px;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
#mycontact_form .col-md-4>span{
	margin: 0 0 20px 0;
}
.main_info>div>label{
	min-width: 80px;
}
.phone_list_container>div>input,
.emails_list_container>div>input{
	margin: 0 10px 5px 0;
}
.phone_list_container>div{
	display: flex;
	justify-content: center;
	align-items: center;
}